.sub-section {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #191919;

  &:before {
    content: '';
    display: block;
    height: 90px;
    background: linear-gradient(#444, #2f2f2f);
  }
}

.sub-section__header {
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  height: 160px;
  background: linear-gradient(#2f2f2f, #191919 100px);
  border-bottom: 1px solid #333;
  padding: 55px 30px 0px 30px;
}

.sub-section__title {
  height: 40px;
  color: #fff;
  padding: 3px 0px;
  // font-size: 1.9rem;
  font-size: 2.8rem;
  font-weight: 900;
  
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
  }

  &:hover {
    cursor: default;
  }
}

.sub-section__menu {
  margin-top: 28px;
}

.sub-section__menu-item {
  display: inline-block;
  margin-right: 25px;

  &:nth-last-child(1) {
    margin-right: 0px;
  }

  &--selected {
    .sub-section__menu-name {
      color: #fff;
    }

    .sub-section__menu-item-bar {
      background: $signature-color;
    }
  }

  &:hover {
    cursor: pointer;

    .sub-section__menu-name {
      color: #fff;
    }
  }
}

.sub-section__menu-name {
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.sub-section__menu-item-bar {
  margin: auto;
  margin-top: 10px;
  width: 30px;
  height: 2px;
}

.sub-section__body {
  padding: 30px;
}

.album {
  max-width: 220px;
  max-height: 220px;
  min-width: 170px;
  min-height: 170px;
  background: #fff;
  float: left;
  margin: 0 15px 15px 0;
}