body, input, select, textarea, button {
    font-size: inherit;
    font-family: 'Gothic A1', sans-serif;
}

body {
    margin: 0;
    font-size: 16px;
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #eee;
}

aside nav ul {
    margin: 0;
    padding: 0;
}

aside nav ul li a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding-left: 50px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

aside nav ul li a i {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

aside nav ul li a i::before {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

aside .menu {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -100000px;
    border: none;
    background: none;
}

aside .menu i {
    position: absolute;
    left: 50%;
    top: 50%;
    text-indent: 0;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

aside nav hr {
    background: #ddd;
    height: 1px;
    margin: 15px;
    border: none;
}