body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background: #ea8d8d;
  background: linear-gradient(180deg, #ea8d8d 0%, #a890fe 100%);
}

.header {
  width: 100%;
  min-width: 375px;
  display: flex;
  align-items: center;
  background: #a890fe;
  background: linear-gradient(180deg, #a890fe 0%, #8c9aff 100%);
  height: 60px;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  z-index: 1000;
  justify-content: space-between;
}

.play-icon {
  width: 40px;
  height: 40px;
}

.hamburger {
  width: 50px;
  height: 38px;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-14px, 18px);
}

.active .bar:nth-child(2) {
  transform: rotate(45deg);
}

.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(12px, -18px);
}

.bar {
  width: 50%;
  border-radius: 5px;
  height: 5px;
  background-color: #333;
  transition: 0.4s;
}

.bar:nth-child(2) {
  width: 100%;
}

.bar:nth-child(3) {
  margin-left: 50%;
}
