@import 'helper';

.main-section {
  @include position(absolute, 0px, auto, auto, 200px);
  box-sizing: border-box;
  background: #bbb;
  width: calc(100vw - 200px);
  height: calc(100vh - 50px);
  overflow: scroll;
  padding: 20px;
}

.album {
  width: 200px;
  height: 200px;
  background: #fff;
  float: left;
  margin: 10px;
}